{
    // preset，也就是预置条件。转码规则
    "presets": [
        [
            // 支持被认为是 latest 的Babel所有插件
            "env",
            {
                "targets": {
                    // 确定在 preset的插件中支持的浏览器版本, 支持拥有市场份额超过1%的浏览器, 浏览器的最新两个版本以及ie8以上
                    "browsers": ["> 1%", "last 2 versions", "not ie <= 8"],
                    // 据当前 Node.js 版本进行动态转换
                    "node": "current"
                },
                // babel-polyfill + useBuiltIns:false vendor.js 278kb
                // babel-polyfill + useBuiltIns:true vendor.js 200kb
                // "useBuiltIns": true,
                "modules": false,
                "debug": false
            }
        ],
        // 添加草案阶段, 使用新特性
        "stage-2"
    ],
    "plugins": [
        "transform-react-jsx",
        [
            // transform-runtime vendor.js 92.2 kB
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": true,
                "regenerator": true,
                "moduleName": "babel-runtime"
            }
        ]
    ]
}
